

/*位置*/
.ai-c {
align-items:center;


}
.jc-a {
justify-content:space-around;
}


.ta-c{
  text-align: center;
}


.nwrap{
flex-wrap:nowrap;

}







.square{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 10px 5px;
}



.horizontal-line {
  width: 30px;
  height: 1px;
  margin:10px 0px;
  background: black;
}


.vertical-line {
  width: 1px;
  height: 86px;
  margin:10px 0px;
  background: black;
}



.no-display{
	display: none;
}


.banner{
  width: auto;
  border-radius: 5px;


margin: 10px 4%;
}

.swiper{
	position: relative;
  height: 232px;
}

.over-hidden{
  overflow: hidden; 
  text-overflow:ellipsis;
}

.full-screen{
  background-color: rgb(243 ,243 ,243);
  height: 100%;
}



/*透明度*/

.op03{
  opacity: 0.3;
}

.op05{
  opacity: 0.5;
}

.op04{
  opacity: 0.4;
}

.op02{
  opacity: 0.2;
}


.op08{
  opacity: 0.8;
}





/*//positon*/

.Pr{
  position: relative !important;
}