/*margin-top*/
.mg-top1 {
	margin-top: 1px !important;
}
.mg-top2 {
	margin-top: 2px !important;
}
.mg-top3 {
	margin-top: 3px !important;
}
.mg-top4 {
	margin-top: 4px !important;
}
.mg-top5 {
	margin-top: 5px !important;
}
.mg-top6 {
	margin-top: 6px !important;
}
.mg-top7 {
	margin-top: 7px !important;
}
.mg-top8 {
	margin-top: 8px !important;
}
.mg-top9 {
	margin-top: 9px !important;
}
.mg-top10 {
	margin-top: 10px !important;
}
.mg-top11 {
	margin-top: 11px !important;
}
.mg-top12 {
	margin-top: 12px !important;
}
.mg-top13 {
	margin-top: 13px !important;
}
.mg-top14 {
	margin-top: 14px !important;
}
.mg-top15 {
	margin-top: 15px !important;
}
.mg-top16 {
	margin-top: 16px !important;
}
.mg-top17 {
	margin-top: 17px !important;
}
.mg-top18 {
	margin-top: 18px !important;
}
.mg-top19 {
	margin-top: 19px !important;
}
.mg-top20 {
	margin-top: 20px !important;
}
.mg-top21 {
	margin-top: 21px !important;
}
.mg-top22 {
	margin-top: 22px !important;
}
.mg-top23 {
	margin-top: 23px !important;
}
.mg-top24 {
	margin-top: 24px !important;
}
.mg-top25 {
	margin-top: 25px !important;
}
.mg-top26 {
	margin-top: 26px !important;
}
.mg-top27 {
	margin-top: 27px !important;
}
.mg-top28 {
	margin-top: 28px !important;
}
.mg-top29 {
	margin-top: 29px !important;
}
.mg-top30 {
	margin-top: 30px !important;
}
.mg-top31 {
	margin-top: 31px !important;
}

/*margin-right*/
.mg-right1 {
	margin-right: 1px !important;
}
.mg-right2 {
	margin-right: 2px !important;
}
.mg-right3 {
	margin-right: 3px !important;
}
.mg-right4 {
	margin-right: 4px !important;
}
.mg-right5 {
	margin-right: 5px !important;
}
.mg-right6 {
	margin-right: 6px !important;
}
.mg-right7 {
	margin-right: 7px !important;
}
.mg-right8 {
	margin-right: 8px !important;
}
.mg-right9 {
	margin-right: 9px !important;
}
.mg-right10 {
	margin-right: 10px !important;
}
.mg-right11 {
	margin-right: 11px !important;
}
.mg-right12 {
	margin-right: 12px !important;
}
.mg-right13 {
	margin-right: 13px !important;
}
.mg-right14 {
	margin-right: 14px !important;
}
.mg-right15 {
	margin-right: 15px !important;
}
.mg-right16 {
	margin-right: 16px !important;
}
.mg-right17 {
	margin-right: 17px !important;
}
.mg-right18 {
	margin-right: 18px !important;
}
.mg-right19 {
	margin-right: 19px !important;
}
.mg-right20 {
	margin-right: 20px !important;
}
.mg-right21 {
	margin-right: 21px !important;
}
.mg-right22 {
	margin-right: 22px !important;
}
.mg-right23 {
	margin-right: 23px !important;
}
.mg-right24 {
	margin-right: 24px !important;
}
.mg-right25 {
	margin-right: 25px !important;
}
.mg-right26 {
	margin-right: 26px !important;
}
.mg-right27 {
	margin-right: 27px !important;
}
.mg-right28 {
	margin-right: 28px !important;
}
.mg-right29 {
	margin-right: 29px !important;
}
.mg-right30 {
	margin-right: 30px !important;
}
.mg-right31 {
	margin-right: 31px !important;
}

/*margin-left*/
.mg-left1 {
	margin-left: 1px !important;
}
.mg-left2 {
	margin-left: 2px !important;
}
.mg-left3 {
	margin-left: 3px !important;
}
.mg-left4 {
	margin-left: 4px !important;
}
.mg-left5 {
	margin-left: 5px !important;
}
.mg-left6 {
	margin-left: 6px !important;
}
.mg-left7 {
	margin-left: 7px !important;
}
.mg-left8 {
	margin-left: 8px !important;
}
.mg-left9 {
	margin-left: 9px !important;
}
.mg-left10 {
	margin-left: 10px !important;
}
.mg-left11 {
	margin-left: 11px !important;
}
.mg-left12 {
	margin-left: 12px !important;
}
.mg-left13 {
	margin-left: 13px !important;
}
.mg-left14 {
	margin-left: 14px !important;
}
.mg-left15 {
	margin-left: 15px !important;
}
.mg-left16 {
	margin-left: 16px !important;
}
.mg-left17 {
	margin-left: 17px !important;
}
.mg-left18 {
	margin-left: 18px !important;
}
.mg-left19 {
	margin-left: 19px !important;
}
.mg-left20 {
	margin-left: 20px !important;
}
.mg-left21 {
	margin-left: 21px !important;
}
.mg-left22 {
	margin-left: 22px !important;
}
.mg-left23 {
	margin-left: 23px !important;
}
.mg-left24 {
	margin-left: 24px !important;
}
.mg-left25 {
	margin-left: 25px !important;
}
.mg-left26 {
	margin-left: 26px !important;
}
.mg-left27 {
	margin-left: 27px !important;
}
.mg-left28 {
	margin-left: 28px !important;
}
.mg-left29 {
	margin-left: 29px !important;
}
.mg-left30 {
	margin-left: 30px !important;
}
.mg-left31 {
	margin-left: 31px !important;
}

/*margin-bottom*/
.mg-bottom1 {
	margin-bottom: 1px !important;
}
.mg-bottom2 {
	margin-bottom: 2px !important;
}
.mg-bottom3 {
	margin-bottom: 3px !important;
}
.mg-bottom4 {
	margin-bottom: 4px !important;
}
.mg-bottom5 {
	margin-bottom: 5px !important;
}
.mg-bottom6 {
	margin-bottom: 6px !important;
}
.mg-bottom7 {
	margin-bottom: 7px !important;
}
.mg-bottom8 {
	margin-bottom: 8px !important;
}
.mg-bottom9 {
	margin-bottom: 9px !important;
}
.mg-bottom10 {
	margin-bottom: 10px !important;
}
.mg-bottom11 {
	margin-bottom: 11px !important;
}
.mg-bottom12 {
	margin-bottom: 12px !important;
}
.mg-right13 {
	margin-bottom: 13px !important;
}
.mg-bottom14 {
	margin-bottom: 14px !important;
}
.mg-bottom15 {
	margin-bottom: 15px !important;
}
.mg-bottom16 {
	margin-bottom: 16px !important;
}
.mg-bottom17 {
	margin-bottom: 17px !important;
}
.mg-bottom18 {
	margin-bottom: 18px !important;
}
.mg-bottom19 {
	margin-bottom: 19px !important;
}
.mg-bottom20 {
	margin-bottom: 20px !important;
}
.mg-bottom21 {
	margin-bottom: 21px !important;
}
.mg-bottom22 {
	margin-bottom: 22px !important;
}
.mg-bottom23 {
	margin-bottom: 23px !important;
}
.mg-bottom24 {
	margin-bottom: 24px !important;
}
.mg-bottom25 {
	margin-bottom: 25px !important;
}
.mg-bottom26 {
	margin-bottom: 26px !important;
}
.mg-bottom27 {
	margin-bottom: 27px !important;
}
.mg-bottom28 {
	margin-bottom: 28px !important;
}
.mg-bottom29 {
	margin-bottom: 29px !important;
}
.mg-bottom30 {
	margin-bottom: 30px !important;
}
.mg-bottom31 {
	margin-bottom: 31px !important;
}