/*padding-top*/
.pd-top1 {
  padding-top: 1px !important;
}
.pd-top2 {
  padding-top: 2px !important;
}
.pd-top3 {
  padding-top: 3px !important;
}
.pd-top4 {
  padding-top: 4px !important;
}
.pd-top5 {
  padding-top: 5px !important;
}
.pd-top6 {
  padding-top: 6px !important;
}
.pd-top7 {
  padding-top: 7px !important;
}
.pd-top8 {
  padding-top: 8px !important;
}
.pd-top9 {
  padding-top: 9px !important;
}
.pd-top10 {
  padding-top: 10px !important;
}
.pd-top11 {
  padding-top: 11px !important;
}
.pd-top12 {
  padding-top: 12px !important;
}
.pd-top13 {
  padding-top: 13px !important;
}
.pd-top14 {
  padding-top: 14px !important;
}
.pd-top15 {
  padding-top: 15px !important;
}
.pd-top16 {
  padding-top: 16px !important;
}
.pd-top17 {
  padding-top: 17px !important;
}
.pd-top18 {
  padding-top: 18px !important;
}
.pd-top19 {
  padding-top: 19px !important;
}
.pd-top20 {
  padding-top: 20px !important;
}
.pd-top21 {
  padding-top: 21px !important;
}
.pd-top22 {
  padding-top: 22px !important;
}
.pd-top23 {
  padding-top: 23px !important;
}
.pd-top24 {
  padding-top: 24px !important;
}
.pd-top25 {
  padding-top: 25px !important;
}
.pd-top26 {
  padding-top: 26px !important;
}
.pd-top27 {
  padding-top: 27px !important;
}
.pd-top28 {
  padding-top: 28px !important;
}
.pd-top29 {
  padding-top: 29px !important;
}
.pd-top30 {
  padding-top: 30px !important;
}
.pd-top31 {
  padding-top: 31px !important;
}

/*padding-bottom*/
.pd-bottom1 {
  padding-bottom: 1px !important;
}
.pd-bottom2 {
  padding-bottom: 2px !important;
}
.pd-bottom3 {
  padding-bottom: 3px !important;
}
.pd-bottom4 {
  padding-bottom: 4px !important;
}
.pd-bottom5 {
  padding-bottom: 5px !important;
}
.pd-bottom6 {
  padding-bottom: 6px !important;
}
.pd-bottom7 {
  padding-bottom: 7px !important;
}
.pd-bottom8 {
  padding-bottom: 8px !important;
}
.pd-bottom9 {
  padding-bottom: 9px !important;
}
.pd-bottom10 {
  padding-bottom: 10px !important;
}
.pd-bottom11 {
  padding-bottom: 11px !important;
}
.pd-bottom12 {
  padding-bottom: 12px !important;
}
.pd-bottom13 {
  padding-bottom: 13px !important;
}
.pd-bottom14 {
  padding-bottom: 14px !important;
}
.pd-bottom15 {
  padding-bottom: 15px !important;
}
.pd-bottom16 {
  padding-bottom: 16px !important;
}
.pd-bottom17 {
  padding-bottom: 17px !important;
}
.pd-bottom18 {
  padding-bottom: 18px !important;
}
.pd-bottom19 {
  padding-bottom: 19px !important;
}
.pd-bottom20 {
  padding-bottom: 20px !important;
}
.pd-bottom21 {
  padding-bottom: 21px !important;
}
.pd-bottom22 {
  padding-bottom: 22px !important;
}
.pd-bottom23 {
  padding-bottom: 23px !important;
}
.pd-bottom24 {
  padding-bottom: 24px !important;
}
.pd-bottom25 {
  padding-bottom: 25px !important;
}
.pd-bottom26 {
  padding-bottom: 26px !important;
}
.pd-bottom27 {
  padding-bottom: 27px !important;
}
.pd-bottom28 {
  padding-bottom: 28px !important;
}
.pd-bottom29 {
  padding-bottom: 29px !important;
}
.pd-bottom30 {
  padding-bottom: 30px !important;
}
.pd-bottom31 {
  padding-bottom: 31px !important;
}

/*padding-left*/
.pd-left1 {
  padding-left: 1px !important;
}
.pd-left2 {
  padding-left: 2px !important;
}
.pd-left3 {
  padding-left: 3px !important;
}
.pd-left4 {
  padding-left: 4px !important;
}
.pd-left5 {
  padding-left: 5px !important;
}
.pd-left6 {
  padding-left: 6px !important;
}
.pd-left7 {
  padding-left: 7px !important;
}
.pd-left8 {
  padding-left: 8px !important;
}
.pd-left9 {
  padding-left: 9px !important;
}
.pd-left10 {
  padding-left: 10px !important;
}
.pd-left11 {
  padding-left: 11px !important;
}
.pd-left12 {
  padding-left: 12px !important;
}
.pd-left13 {
  padding-left: 13px !important;
}
.pd-left14 {
  padding-left: 14px !important;
}
.pd-left15 {
  padding-left: 15px !important;
}
.pd-left16 {
  padding-left: 16px !important;
}
.pd-left17 {
  padding-left: 17px !important;
}
.pd-left18 {
  padding-left: 18px !important;
}
.pd-left19 {
  padding-left: 19px !important;
}
.pd-left20 {
  padding-left: 20px !important;
}
.pd-left21 {
  padding-left: 21px !important;
}
.pd-left22 {
  padding-left: 22px !important;
}
.pd-left23 {
  padding-left: 23px !important;
}
.pd-left24 {
  padding-left: 24px !important;
}
.pd-left25 {
  padding-left: 25px !important;
}
.pd-left26 {
  padding-left: 26px !important;
}
.pd-left27 {
  padding-left: 27px !important;
}
.pd-left28 {
  padding-left: 28px !important;
}
.pd-left29 {
  padding-left: 29px !important;
}
.pd-left30 {
  padding-left: 30px !important;
}
.pd-left31 {
  padding-left: 31px !important;
}

/*padding-right*/
.pd-right1 {
  padding-right: 1px !important;
}
.pd-right2 {
  padding-right: 2px !important;
}
.pd-right3 {
  padding-right: 3px !important;
}
.pd-right4 {
  padding-right: 4px !important;
}
.pd-right5 {
  padding-right: 5px !important;
}
.pd-right6 {
  padding-right: 6px !important;
}
.pd-right7 {
  padding-right: 7px !important;
}
.pd-right8 {
  padding-right: 8px !important;
}
.pd-right9 {
  padding-right: 9px !important;
}
.pd-right10 {
  padding-right: 10px !important;
}
.pd-right11 {
  padding-right: 11px !important;
}
.pd-right12 {
  padding-right: 12px !important;
}
.pd-right13 {
  padding-right: 13px !important;
}
.pd-right14 {
  padding-right: 14px !important;
}
.pd-right15 {
  padding-right: 15px !important;
}
.pd-right16 {
  padding-right: 16px !important;
}
.pd-right17 {
  padding-right: 17px !important;
}
.pd-right18 {
  padding-right: 18px !important;
}
.pd-right19 {
  padding-right: 19px !important;
}
.pd-right20 {
  padding-right: 20px !important;
}
.pd-right21 {
  padding-right: 21px !important;
}
.pd-right22 {
  padding-right: 22px !important;
}
.pd-right23 {
  padding-right: 23px !important;
}
.pd-right24 {
  padding-right: 24px !important;
}
.pd-right25 {
  padding-right: 25px !important;
}
.pd-right26 {
  padding-right: 26px !important;
}
.pd-right27 {
  padding-right: 27px !important;
}
.pd-right28 {
  padding-right: 28px !important;
}
.pd-right29 {
  padding-right: 29px !important;
}
.pd-right30 {
  padding-right: 30px !important;
}
.pd-right31 {
  padding-right: 31px !important;
}

/*padding*/
.pd1 {
  padding: 1px !important;
}
.pd2 {
  padding: 2px !important;
}
.pd3 {
  padding: 3px !important;
}
.pd4 {
  padding: 4px !important;
}
.pd5 {
  padding: 5px !important;
}
.pd6 {
  padding: 6px !important;
}
.pd7 {
  padding: 7px !important;
}
.pd8 {
  padding: 8px !important;
}
.pd9 {
  padding: 9px !important;
}
.pd10 {
  padding: 10px !important;
}
.pd11 {
  padding: 11px !important;
}
.pd12 {
  padding: 12px !important;
}
.pd13 {
  padding: 13px !important;
}
.pd14 {
  padding: 14px !important;
}
.pd15 {
  padding: 15px !important;
}
.pd16 {
  padding: 16px !important;
}
.pd17 {
  padding: 17px !important;
}
.pd18 {
  padding: 18px !important;
}
.pd19 {
  padding: 19px !important;
}
.pd20 {
  padding: 20px !important;
}
.pd21 {
  padding: 21px !important;
}
.pd-22 {
  padding: 22px !important;
}
.pd-23 {
  padding: 23px !important;
}
.pd-24 {
  padding: 24px !important;
}
.pd-25 {
  padding: 25px !important;
}
.pd-26 {
  padding: 26px !important;
}
.pd-27 {
  padding: 27px !important;
}
.pd-28 {
  padding: 28px !important;
}
.pd-29 {
  padding: 29px !important;
}
.pd-30 {
  padding: 30px !important;
}
.pd-31 {
  padding: 31px !important;
}